.App {
  text-align: center;
}

#spanId {
  margin: 0px 10px 0px 10px;
}

#spanCat {
  margin-right: 10px;
}

form button {
  margin-left: 10px;
}

.name {
  color:firebrick;
}

.textBody {
  color:rgb(48, 46, 46);
}